@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

.container {
    width: 100%;
    margin: auto;
    button {
        display: block;
        margin: auto;
        font-family: 'Arimo';
        font-weight: 900;
        width: 150px;
        height: 50px;
        border: solid 3px;
        border-color: rgb(90, 26, 26);
        border-radius: 15%;
        background-color: rgb(43, 70, 21);
    }
}
