@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "GothamRounded";
  src: url("../GothamRnd-Bold.eot");
  src: local("☺"), url("../GothamRnd-Bold.woff") format("woff"), url("../GothamRnd-Bold.ttf") format("truetype"), url("../GothamRnd-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  max-width: 580px;
  margin: auto;
  height: 80px;
  align-items: center;
}
.nav .nav__item {
  color: #16a085;
  letter-spacing: 2.7px;
  font-size: 18px;
  font-weight: 700;
}

body {
  font-family: Roboto;
}

img {
  width: 100%;
}

h1, a, button {
  text-transform: uppercase;
}

h1 {
  text-align: center;
  margin-top: 56px;
  font-size: 22px;
  letter-spacing: 3.3px;
  color: #373737;
  font-weight: 700;
}

.description {
  max-width: 1059px;
  margin: auto;
  margin-top: 34px;
  text-align: center;
}
.description p {
  margin-top: 34px;
  letter-spacing: 2.4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #373737;
}

.button {
  max-width: 1280px;
  text-align: center;
  margin-top: 64px;
}
.button button {
  width: 192px;
  height: 51px;
  background-color: #16a085;
  border-radius: 4px;
}
.button button .button__link {
  color: #ffffff;
  letter-spacing: 1.8px;
  line-height: 20px;
  font-weight: 700;
  font-size: 12px;
  font-family: "GothamRounded";
}

footer {
  text-align: right;
  padding-right: 104px;
  margin-top: 94px;
  height: 108px;
  vertical-align: middle;
}
footer .legal {
  color: #373737;
  font-size: 16px;
  letter-spacing: 2.4px;
  font-weight: 700;
}